*
        {   
            background-color :wheat; 
            text-align: center; 
        }
 #Selec
        {
            background-color: yellow
            text-align: center
            
        }